<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Post</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Create a New Post</h1>

  <!-- Form for creating a new post -->
  <form id="create-post-form" enctype="multipart/form-data">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" placeholder="Enter the title" required>
    <label for="category">category:</label>
    <input type="text" name="category" id="category" placeholder="Enter the category" required>

    <label for="content">Content:</label>
    <textarea name="content" id="content" placeholder="Enter the content" rows="5" required></textarea>

    <label for="image">Upload an Image:</label>
    <input type="file" name="image" id="image" accept="image/*">

    <p>OR</p>

    <label for="imageUrl">Image URL:</label>
    <input type="url" name="imageUrl" id="imageUrl" placeholder="https://example.com/image.jpg">

    <button type="submit">Create Post</button>
  </form>

  <hr>

  <a href="/">Back to Home</a>
  <script>
    const logged = '<%= isLoggedIn %>';
    const username = '<%= username %>';
    
    document.getElementById('create-post-form').addEventListener('submit', async (e) => {
      e.preventDefault();
      if (!isLoggedIn) {
      alert('You need to be logged in to create a post.');
      return;
    }
      const formData = new FormData();
      formData.append('author', username);
      formData.append('title', document.getElementById('title').value);
      formData.append('category', document.getElementById('category').value);
      formData.append('content', document.getElementById('content').value);
      const imageFile = document.getElementById('image').files[0];
      if (imageFile) {
        formData.append('image', imageFile);
      } else {
        formData.append('imageUrl', document.getElementById('imageUrl').value);
      }

      const res = await fetch('/create_post/create', {
        method: 'POST',
        body: formData,
      });

      if (res.ok) {
        window.location.href = '/dreamList'; // Redirect to dreamList page
      } else {
        const data = await res.json();
        alert(data.message || 'Post creation failed');
      }
    });
  </script>
</body>

</html>
