<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Dreams</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="border-bottom lh-2 py-5"  >
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 text-center">
            <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">DreamCatchr</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <form class="d-flex" role="search">
              <button class="btn btn-sm" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg></button>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>mdo</strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">My dreams</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <%- include('partials/navbar') %>
    </div>

    <main class="container">

      <div class="nav-scroller shadow-sm d-flex align-items-center justify-content-center p-3 my-3 text-white bg-secondary-gradient rounded">
        <nav class="nav nav-underline justify-content-center" aria-label="Secondary navigation">
          <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
            Post a Dream
          </button>
          <a class="nav-link active" aria-current="page" href="#">All</a>
          <a class="nav-link text-white" href="#">
            New
            <span class="badge bg-light text-dark rounded-pill align-text-bottom">2</span>
          </a>
          <a class="nav-link text-white" href="#">Popular</a>
          <a class="nav-link text-white" href="#">Suggestions</a>
          <a class="nav-link text-white" href="#">Contest Winners</a>
        </nav>
      </div>

      <div class="my-3 p-3 bg-body rounded shadow-sm">
        <h6 class="border-bottom pb-2 mb-0">Top this week</h6>
        <div class="d-flex text-muted pt-3">
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">Dream title</strong>
            Start text or something I guess
          </p>
        </div>
        <div class="d-flex text-muted pt-3">
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"></rect><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>

          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">Dream title</strong>
            Start text or something I guess
          </p>
        </div>
        <div class="d-flex text-muted pt-3">
          <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"></rect><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>

          <p class="pb-3 mb-0 small lh-sm border-bottom">
            <strong class="d-block text-gray-dark">Dream title</strong>
            Start text or something I guess
          </p>
        </div>
      </div>


    </main>
    <!--
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
      <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
        Post a Dream
      </button>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link text-white" aria-current="page">
            Popular this week
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Popular all time
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Newest dreams
          </a>
        </li>
        <li>
          <a href="#" class="nav-link text-white">
            Contest winners
          </a>
        </li>
      </ul>
    </div>
    -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" ></script>
    
  </body>
</html>