<div class="carousel-item <%= isActive ? 'active' : '' %>">
    <div class="card mb-3 bg-body-secondary w-100">
        <a href="/post/<%= post._id %>" class="text-decoration-none text-dark">
            <div class="card-body">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Featured Post</h5>
                            <h3 class="card-text"><%= post.title %></h3>
                            <p>Read More</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="data:image/jpeg;base64,<%= post.image.toString('base64') %>" alt="Post Image" class="img-fluid" style="max-height: 400px;">
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>