<div class="comment">
    <p><strong><a href="/profile/<%=comment.author.username %>"><%= comment.author.username %></a></strong> <%= new Date(comment.createdAt).toLocaleDateString() %></p>
    <p><%= comment.content %></p>
  </div>
  <hr>

