<div class="container">
    <div class="py-5 text-center">
      
      <h2>Edit your dream!</h2>
      <p class="lead">Just remembered something? Edit your dream to include it!</p>
    </div>

    <div class="d-flex justify-content-center text-center">
      <div class="col-md-8 order-md-1">
        <form class="needs-validation" action="/post/<%= post.id%>/edit" method="POST">
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="title"><h4 class="mb-4">Edit title</h4></label>
              <input type="text" class="form-control" name="newTitle" id="title" value="<%=post.title %>" required="">
              <div class="invalid-feedback">
                Title cannot be empty.
              </div>
            </div>
            
          </div>

          <div class="mb-4">
            <label for="dream"><h4 class="mb-3">Edit dream</h4></label>
            <input type="text" class="form-control" id="title" name="newContent" value="<%=post.content %>" >
            
          </div>

          <div class="mb-3">
            <div class="col-md-6 mb-3 offset-md-3">
              <label for="dreamcat">Edit category</label>
              <select class="custom-select d-block w-100" id="category" name="newCategory" >
                <option value="">Choose a category</option>
                <option>Delirious</option>
                <option>Simple</option>
                <option>Historic</option>
                <option>Harambe</option>
              </select>
              
            </div>

          </div>
          <div class="mb-4 ">
            <div class="col-md-6 mb-3 offset-md-3">
              <label for="dreamimage">Upload or change image (optional):</label>
              <input type="file" id="dreamimage" name="dreamimage">
              <button class="btn btn-primary btn-sm btn-block" type="submit">Upload image</button>
              
            </div>
            
            
          </div>
          <h4 class="mb-4">All finished?</h4>
          <button class="btn btn-primary btn-md btn-block" type="submit">Update my dream</button>
          
          <div class="mb-4"></div>
        </form>
        <form action="/post/<%= post.id%>/delete" method="POST"> <button class="btn btn-danger btn-md btn-block" type="submit">Delete my dream</button></form>
      </div>
    </div>
    </div>