<div class="d-flex text-muted pt-2 pb-2 border-bottom">
    <div class="flex-grow-1 d-flex flex-column justify-content-center">
      <strong class="d-block text-primary fs-5 mb-1">
        <span class="text-dark">No post was found. You may go back to sleep.. <a href="/create_post">or make one yourself.</a></span>
      </strong>
    </div>
  </div>