<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <h4 class="fst-italic">Find us on:</h4>
    <ol class="list-unstyled">
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Threads</a></li>
        <li><a href="#">Facebook</a></li>
    </ol>
    <p class="mb-0">
        <a href="#">Back to top</a>
    </p>
</footer>