
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="DreamCatchr: The Dream Forum">
<meta name="author" content="DreamCatchr Dev Team">
<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://stackpath.bootstrapcdn.com https://cdn.jsdelivr.net;">
<title><%= pageName %></title>
<link rel="icon" type="image/x-icon" href="/photos/favicon.ico">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
