<button class="btn btn-sm btn-outline-primary me-2"  onclick="favouriteDream()">
    <i class="fas fa-heart"></i>
  </button>
  <button class="btn btn-sm btn-outline-primary" onclick="likeDream()">
    <i class="fas fa-thumbs-up"></i>
  </button>