<button class="btn btn-sm btn-outline-primary me-2" style="width: 40px; height: 40px;" onclick="favouriteDream()">
    <i class="fas fa-heart"></i>
</button>
<button class="btn btn-sm btn-outline-primary" style="width: 40px; height: 40px;" onclick="likeDream()">
    <i class="fas fa-thumbs-up"></i>
</button>