<div class="nav-scroller py-1 mb-4 border-bottom">
    <nav class="nav nav-underline justify-content-around">
        <a class="nav-item nav-link link-body-emphasis active" href="/">Home</a>
        <a class="nav-item nav-link link-body-emphasis" href="/dreamList">Dreams</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">Contest</a>
        <a class="nav-item nav-link link-body-emphasis" href="#">About</a>
    </nav>
</div>