<div class="container">
    <div class="py-5 ">
      <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="container d-flex">
            <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary flex-shrink-1">
                <div class="col-lg-12 px-0">
                    <h1 class="display-4 fst-italic">Welcome to the Dreamshow.</h1>
                    <p class="lead my-3">Dream. Compete. Win.</p>
                    <p class="lead my-3">Our Dreamcatchr competitions let you dream big.<br>Enter your posted dreams in our competition and let other users vote for the best for a chance to win dreamy prizes!</p>
                    <p class="lead mb-0 text-body-emphasis fw-bold">Make your dreams come true.</a></p>
                </div>
            </div>
        </div>
      </div>
    </div>
    </div>