<div class="container">
    <div class="py-5 text-center">
      <img class="mb-4" src="/photos/banner.png" alt="" width="512" height="128">
      <h2>Post your dream!</h2>
      <p class="lead">Whether you just woke up or you just remembered, make sure to write down your dream now before it goes away!</p>
    </div>

    <div class="d-flex justify-content-center text-center">
      <div class="col-md-8 order-md-1">
        <form class="needs-validation" id="create-post-form" novalidate="">
          <div class="row">
            <div class="col-md-12 mb-4">
              <label for="title"><h4 class="mb-4">Choose a title</h4></label>
              <input type="text" class="form-control" id="title" placeholder="Title" value="" required>
              <div class="invalid-feedback">
                A dream title is required.
              </div>
            </div>
            
          </div>

          <div class="mb-4">
            <label for="content"><h4 class="mb-3">Write about your dream</h4></label>
            <textarea type="text" rows="8" class="form-control" id="content" placeholder="e.g. what happened in the dream? Who was there? How did it make you feel?" required></textarea>
            <div class="invalid-feedback">
              You need to write something to post.
            </div>
          </div>

          <div class="mb-3">
            <div class="col-md-6 mb-3 offset-md-3">
              <label for="category">Category</label>
              <select class="custom-select d-block w-100" id="category" required="">
                <option value="">Choose a category</option>
                <option>Delirious</option>
                <option>Simple</option>
                <option>Historic</option>
                <option>Harambe</option>
              </select>
              <div class="invalid-feedback">
                Please choose a category.
              </div>
            </div>

          </div>
          <div class="mb-4 ">
            <div class="col-md-6 mb-3 offset-md-3">
              <label for="dreamimage">Upload an image via upload(optional):</label>
              <input type="file" id="dreamimage" name="dreamimage">
              <label for="imageUrl">Or upload an image via url(optional):</label>
              <input type="url" name="imageUrl" id="imageUrl" placeholder="https://example.com/image.jpg">
            </div>
            
          </div>
          <hr class="mb-4">
            
          <div class="custom-control custom-checkbox col-md-6 mb-3 offset-md-3">
            <input type="checkbox" class="custom-control-input" id="allowComments">
            <label class="custom-control-label" for="allowComments">Allow comments on my dream</label>
          </div>
         

          <hr class="mb-4">

          <h4 class="mb-4">That's everything!</h4>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit my dream</button>

          <div class="mb-4"></div>
        </form>
      </div>
    </div>
    <%pageName = 'Post your dream'%>